<html>
  <head>
    {% block head_metas %}
           <meta charset="utf-8">
     {% endblock %}
    <title>{% block title '' %} - CriticSki</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Main custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="{{ path('index_action') }}" class="brand-logo">CriticSki</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ path('list_action') }}">Liste des stations</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="{{ path('list_action') }}">Liste des stations</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <main>
      <div class="container">
        <div class="section">
          {% block content '' %}
        </div>
        <br><br>
      </div>
    </main>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">À propos</h5>
            <p class="grey-text text-lighten-4">Nous proposons un service de notation de stations de ski pour mieux choisir votre séjour en fonctions de vos critères et préférences.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">CriticSki</h5>
            <ul>
              <li><a class="white-text" href="{{ path('list_action') }}">Liste des stations</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Mon compte</h5>
            <ul>
              <li><a class="white-text" href="#!">Mes informations</a></li>
              <li><a class="white-text" href="#!">Mes avis</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &copy; {{ "now"|date("Y") }} CriticSki. Tous droits réservés.
        </div>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
