{% extends 'materialize/layout.html.twig' %}
{% block title %}{{ station.name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col l12"><h3>{{ station.name }}</h3></div>
    <div class="col l6">
      <h5>La station</h5>
      <div class="card">
        <div class="card-image">
          <img src="{{ asset('bundles/ski/img/station/' ~ station.image) }}">
        </div>
        <div class="card-content">
          <i class="material-icons left">location_on</i><b>{{ station.location }}</b>
          {% if moyenne %}

              {% if moyenne < 3 and moyenne > 2.5 %}
                  {% set color = '#ff8900' %}
              {% elseif moyenne < 2.5 %}
                  {% set color = '#f44336' %}
              {% else %}
                  {% set color = '#26a69a' %}
              {% endif %}

              <div class="secondary-content" style="font-size: 1.3em; color: {{ color }};">
                    <b>{{ moyenne|round(1, 'floor') }}</b>/5
              </div>

              <div class="progress" style="background-color: #ee6e73;">
                    <div class="determinate" style="width: {{ ratio }}%; background-color: #26a69a;"></div>
              </div>
          {% endif %}
          <p>{{ station.description }}</p>
        </div>
      </div>
      <div class="map-responsive">
          <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="{{ mapurl }}" allowfullscreen>
          </iframe>
      </div>
    </div>
    <div class="col l6">
      <h5>Avis ({{ reviews|length }})</h5>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a class="waves-effect waves-light btn-large modal-trigger" href="#newComment" style="width: 100%;">
      {% else %}
          <a class="btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Vous devez être connecté pour écrire un commentaire." style="width: 100%; background-color: lightgrey;">
      {% endif %}
          <i class="material-icons left">edit</i>écrire un commentaire
      </a>

      <ul class="collection">
        {% for review in reviews %}
          <li class="collection-item avatar">
            <img src="{{ asset('bundles/ski/img/avatars/' ~ review.user.avatar) }}" alt="" class="circle">
            <span class="title">{{ review.user.firstname }} {{ review.user.lastname|upper }}</span>
            <p>{{ review.comment }}</p>

            {% if review.notation < 3 and review.notation > 2.5 %}
                {% set color = '#ff8900' %}
            {% elseif review.notation < 2.5 %}
                {% set color = '#f44336' %}
            {% else %}
                {% set color = '#26a69a' %}
            {% endif %}

            <div class="secondary-content" style="margin-top: -6px; color: {{ color }};">
                {% for i in 0..4 %}
                    {% if i < review.notation %}
                        <i class="material-icons left" style="font-size: 1.5rem; margin-right: 0;">star</i>
                    {% else %}
                        <i class="material-icons left" style="font-size: 1.5rem; margin-right: 0;">star_border</i>
                    {% endif %}
                {% endfor %}
                <b style="margin-left: 5px;">{{ review.notation }}</b>/5
            </div>
          </li>
        {% else %}
          <center>Aucun commentaire.</center>
        {% endfor %}
      </ul>
    </div>

    <div id="newComment" class="modal">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="modal-content">
                <h4>Commentaire</h4>
                <p>Vous postez un commentaire en tant que <b>{{ app.user.firstname }} {{ app.user.lastname }}</b>.</p>
                {{ form_start(form) }}
                <p class="range-field">
                  {{ form_label(form.notation, "Note") }}
                  {{ form_widget(form.notation, {'attr': {'value': 0, 'min': 0, 'max': 5}}) }}
                </p>
                <div class="input-field">
                  {{ form_widget(form.comment, {'attr': {'class': 'materialize-textarea'}}) }}
                  {{ form_label(form.comment, "Commentaire") }}
                </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Fermer</a>
              {{ form_widget(form.save, {'label': 'Envoyer', 'attr': {'class': 'modal-action waves-effect waves-green btn'}}) }}
              {{ form_rest(form) }}
              {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
  </div>

  <script>
    // intialize js components
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
        $('.modal').modal();
    });
  </script>
{% endblock %}
