{% extends 'materialize/layout.html.twig' %}
{% block title %}Commentaires{% endblock %}

{% block content %}
  <div class="row">
      <h4>Commentaires</h4>
      <p>Bienvenue sur l'espace de modération des commentaires.</p>
      <div class="card">
          <div class="card-content">
              {% if reviews %}
                  <table class="striped">
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>Membre</th>
                            <th>Station</th>
                            <th>Note</th>
                            <th>Commentaire</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for review in reviews %}
                          <tr>
                            <td>{{ review.id }}</td>
                            <td>{{ review.user.firstname }} {{ review.user.lastname }} ({{ review.user.id }})</td>
                            <td><a href="{{ path('detail_action', {'stationId': review.station.id}) }}" target="_blank">{{ review.station.name }}</a></td>
                            <td><b>{{ review.notation }}</b>/5</td>
                            <td>{{ review.comment }}</td>
                            <td>
                                <a class="btn-floating green"><i class="tiny material-icons">check</i></a>
                                <a href="{{ path('account_reviews_delete', {'id': review.id}) }}" class="btn-floating red"><i class="tiny material-icons">clear</i></a>
                            </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              {% else %}
                  <center style="color: red;">Aucun commentaire à valider pour le moment.</center>
              {% endif %}
          </div>
      </div>
  </div>
{% endblock %}
