{% extends 'materialize/layout.html.twig' %}
{% block title %}Mon compte{% endblock %}

{% block content %}
  <div class="row">
      <h4>Mon compte</h4>
      <p>Bienvenue sur votre espace personnel.</p>
      <div class="col l6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Mes informations</span>
              <p>ID: <b>{{ app.user.id }}</b></p>
              <p>Nom complet: <b>{{ app.user.firstname }} {{ app.user.lastname }}</b></p>
              <p>Adresse mail: <b>{{ app.user.email }}</b></p>
              <a class="waves-effect waves-light btn modal-trigger" href="#editAccount" style="margin-top: 10px;"><i class="material-icons left">edit</i>Modifier</a>
            </div>
          </div>
      </div>
      <div class="col l6">
          <div class="card">
              <div class="card-content">
                  <span class="card-title">Mon avatar</span>
                  <img src="{{ asset('bundles/ski/img/avatars/' ~ app.user.avatar) }}" width="150px" height="150px" class="circle">

                  {{ form_start(form, {'attr': {'id': 'avatarForm'}}) }}

                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Parcourir</span>
                      {{ form_widget(form.avatarFile) }}
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Format JPEG, PNG ou GIF. Max 5MB.">
                    </div>
                  </div>

                  {{ form_end(form) }}

                  <script>
                      var form = document.getElementById('avatarForm');
                      var input = document.getElementById('avatar_avatarFile');
                      var change_running = false;

                      input.addEventListener('change', function(){
                          if(!change_running){
                              setTimeout(function(){
                                  change_running = true;
                                  form.submit();
                                  change_running = false;
                              }, 300);
                          }
                      });
                  </script>

              </div>
          </div>
      </div>

      <div id="editAccount" class="modal">
          <div class="modal-content">
              <h4>Modifier mes informations</h4>

              {{ form_start(form_account) }}
              <div class="input-field">
                {{ form_widget(form_account.firstname, {'attr': {'class': 'validate', 'value': app.user.firstname}}) }}
                {{ form_label(form_account.firstname, "Prénom") }}
              </div>
              <div class="input-field">
                {{ form_widget(form_account.lastname, {'attr': {'class': 'validate', 'value': app.user.lastname}}) }}
                {{ form_label(form_account.lastname, "Nom") }}
              </div>
              <div class="input-field">
                {{ form_widget(form_account.email, {'attr': {'class': 'validate', 'value': app.user.email}}) }}
                {{ form_label(form_account.email, "Adresse mail") }}
              </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Fermer</a>
            {{ form_widget(form_account.save, {'label': 'Valider', 'attr': {'class': 'modal-action waves-effect waves-green btn'}}) }}
            {{ form_rest(form_account) }}
            {{ form_end(form_account) }}
          </div>
      </div>
  </div>

  <script>
    // intialize js components
    $(document).ready(function(){
        $('.modal').modal();
    });
  </script>
{% endblock %}
